name: sleep workflow

on:
  workflow_dispatch:
    inputs:
      seconds:
        description: 'How match seconds to sleep ? '
        required: false
        type: string
        default: 5
      showtime:
        description: 'Show the output of the time command after sleep is done ? '
        required: true
        type: boolean

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: start sleep 
        run: |
          echo "Setting Inputs as bash variables"
          SECONDSTOSLEEP=${{ Inputs.seconds }}
          SHOWTIME=${{ showtime }}
          if [[ $SHOWTIME == 'true'  ]]; then
            echo "executing: time sleep [second input]"
            time sleep $SECONDSTOSLEEP
          else
            sleep $SECONDSTOSLEEP
          fi