on:
  workflow_dispatch:
  # Inputs from the pipline triger, can be set up to 10
    inputs:
      seconds:
        type: string
        description: 'How match time do you want to sleep'
        default : 5
        required: false
      displaytime:
        description: 'Display the output of the time command ?'
        required: false
        type: boolean
        default: false
jobs:
    sleep:
      runs-on: ubuntu-latest
      steps:
        - name: sleep for specified seconds
          run: |
                SECONDS="${{ github.event.inputs.seconds }}"
                DISPLAY="${{ github.event.inputs.displaytime }}"
                if [[ "${DISPLAY}" == "true" ]]; then
                  echo "Running: time sleep 1"
                  time sleep 1
                else
                  echo "Running: sleep 1"
                  sleep 1
                fi

        

    
