name: Sleep Workflow

on:
  workflow_dispatch:
    inputs:
      seconds:
        description: "How much time do you want to sleep (seconds)?"
        required: true
        default: "1"
        type: string
      displaytime:
        description: "Display the output of the time command?"
        required: false
        default: false
        type: boolean

jobs:
  sleep:
    runs-on: ubuntu-latest
    steps:
      - name: sleep
        run: |
          SECONDS="${{ github.event.inputs.seconds }}"
          DISPLAY="${{ github.event.inputs.displaytime }}"

          if [[ "$DISPLAY" == "true" ]]; then
            echo "Running: time sleep $SECONDS"
            time sleep "$SECONDS"
          else
            echo "Running: sleep $SECONDS"
            sleep "$SECONDS"
          fi
